
#
# Start the UI Controls App.
# when TV's application merge from TV profile, must have remove this file.

[Unit]
Description=UI Controls
After=e17.service

[Service]
NotifyAccess=all
ExecStart=/usr/bin/launch_app org.tizen.ui-controls
